<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet" />
    <link href="hrm/_content/DevExpress.Blazor.Themes/blazing-berry.bs5.min.css" rel="stylesheet" />
    <link href="css/mainLayout.css" rel="stylesheet" type="text/css" />
    <link href="css/nprogress.css" rel="stylesheet" type="text/css" />
    <link href="app.css" rel="stylesheet" />
    <link href="css/globalStyle.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="favicon.png" />
    @DxResourceManager.RegisterScripts()
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <!-- Tabler Core -->
    <script src="js/tabler.min.js"></script>
    <script src="js/nprogress.js"></script>
</body>

</html>
