<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <link href="_content/DevExpress.Blazor.Themes/blazing-berry.bs5.min.css" rel="stylesheet" />
    <link href="css/mainLayout.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="css/globalStyle.css" />
    <link rel="stylesheet" href="HRM.Client.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    @* <script src="_framework/blazor.web.js"></script> *@
    <script src="_framework/blazor.server.js"></script>
    <!-- Tabler Core -->
    <script src="js/tabler.min.js"></script>
</body>

</html>
