html {
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 9rem;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background: rgba(17, 17, 17, 0.7);
}

html::-webkit-scrollbar-thumb {
    background: #29d9d5;
    border-radius: 5rem; 
}


.dxbl-text-edit.dxbl-focused, .dxbl-text-edit:focus-within {
    -webkit-box-shadow: unset;
    box-shadow: unset;
}

.form-control:focus {
    -webkit-box-shadow: unset;
    box-shadow: unset;
}


.w1FontSize{
    font-size: 13px !important;
}

.dxbl-grid .dxbl-grid-table > tbody > tr > td, 
.dxbl-grid .dxbl-grid-table > tbody > tr > th, 
.dxbl-grid .dxbl-grid-table > tfoot > tr > td, 
.dxbl-grid .dxbl-grid-table > tfoot > tr > th, 
.dxbl-grid .dxbl-grid-table > thead > tr > td, 
.dxbl-grid .dxbl-grid-table > thead > tr > th,
.dxbl-modal > .dxbl-modal-root > .dxbl-popup > .dxbl-modal-content {
    font-size: 13px !important; 
}